body {
  margin: 0;
  background-color: #b3aeb8;
  font-family: 'Noto Sans KR', sans-serif;
}

#main-bar {
  display: flex;
  padding: 0.5em 7em;
  justify-content: space-between;
  background-color: #f0f0f0;
}

#cart {
  padding: 0.8em 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#game-of-week {
  padding: 0.9em 7em 0 7em;
}

#other-games {
  display: flex;
  padding: 1em 7em;
  justify-content: space-between;
}

.game {
  width: 18.05%;
}

.game-card {
  background-color: #f0f0f0;
}

.game-text {
  margin: 0;
  height: 4.8em;
  padding: 0.2em 1em;
  color: #4a4a4a;
  text-transform: uppercase;
}

@media all and (max-width: 1201px) {
  #main-game {
    width: 100%;
    height: auto;
  }

  #other-games {
    width: 100%;
    display: flex;
    padding: 0.5em 16.4em;
    justify-content: space-between;
  }

  .game {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
  }

  break{
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

@media all and (max-width: 901px) {
  #main-game {
    width: 100%;
    height: auto;
  }

  #other-games {
    width: 100%;
    display: flex;
    padding: 0.5em 16.4em;
    justify-content: space-between;
  }

  .game {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
  }

  break{
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

@media all and (max-width: 601px) {
  #main-bar {
    padding: 0.9em 4em;
  }

  #game-of-week {
    padding: 0.9em 4em 0 4em;
  }

  #other-games {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em 7.5em;
  }

  .game {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
  }

  break{
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}
