body {
  margin: 0;
  background-color: #b3aeb8;
  font-family: 'Noto Sans KR', sans-serif;
}

#main-bar {
  display: flex;
  padding: 0.5em 7em;
  justify-content: space-between;
  background-color: #f0f0f0;
}

#cart {
  padding: 0.8em 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
